.hidden {
    display: none;
}
#online{
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    margin-right: 0px;
    height: 500px;
    width: 200px;
    border: 1px solid #ccc;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#leave-room {
    margin-bottom: 10px;
    float: right;
}

#userForm{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#messageFormArea {
    width: 500px;
    margin: 0 auto;
}

#messages {
    height: 300px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
    overflow-y: scroll;
}
#user{

}

#messageForm {
    padding: 20px;
}

#msg {
    width: 400px;
}

.user {
    font-weight: bold;
}

.msg {
    margin-bottom: 10px;
    overflow: hidden;
}

.time {
    float: right;
    color: #939393;
    margin-top: 20px;
    font-size: 13px;
}

.details {
    margin-top: 20px;
}
